USE [master]
GO
/****** Object:  Database [Angular5_core2]    Script Date: 28-05-2018 01:01:34 ******/
CREATE DATABASE [Angular5_core2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Angular5_core2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Angular5_core2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Angular5_core2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Angular5_core2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Angular5_core2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Angular5_core2]
GO
USE [Angular5_core2]
GO
/****** Object:  Table [dbo].[tblCities]    Script Date: 28-05-2018 01:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCities](
	[CityID] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 28-05-2018 01:01:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
	[City] [varchar](20) NOT NULL,
	[Department] [varchar](20) NOT NULL,
	[Gender] [varchar](6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblCities] ON 

INSERT [dbo].[tblCities] ([CityID], [CityName]) VALUES (1, N'New Delhi')
INSERT [dbo].[tblCities] ([CityID], [CityName]) VALUES (2, N'Mumbai')
INSERT [dbo].[tblCities] ([CityID], [CityName]) VALUES (3, N'Hyderabad')
SET IDENTITY_INSERT [dbo].[tblCities] OFF
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([EmployeeID], [Name], [City], [Department], [Gender]) VALUES (1, N'Bhavdip Talaviya', N'Mumbai', N'mvc angular', N'Male')
INSERT [dbo].[tblEmployee] ([EmployeeID], [Name], [City], [Department], [Gender]) VALUES (2, N'nikunj', N'Hyderabad', N'qc', N'Male')
INSERT [dbo].[tblEmployee] ([EmployeeID], [Name], [City], [Department], [Gender]) VALUES (3, N'faisal', N'New Delhi', N'mvc', N'Male')
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
USE [master]
GO
